<nav>
  <ul>
    <li><a href="{{'/' | url}}">Home</a></li>
    {% for post in collections.nav %}
      <li><a href="{{ post.url | url }}">{{ post.data.title }}</a></li>
    {% endfor %}
  </ul>
</nav>