<nav>
  <ul>
    <li><a href="{{ '/' | absoluteUrl }}">Home</a></li>
    {% for post in collections.nav %}
      <li><a href="{{ post.url | absoluteUrl }}">{{ post.data.title }}</a></li>
    {% endfor %}
  </ul>
</nav>