:root {
  --color-error: #e74c3c;
  --color-error-dark: #cb4335;
}

html {
  font-size: 62.5%;
}
body {
  font-size: 1.5em; /* currently ems cause chrome bug misinterpreting rems on body element */
  line-height: 1.6;
  font-weight: 400;
  font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  color: #222;
}

.watchy {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  justify-content: start;
}

.topbar {
  height: 40px;
  background-color: black;
  padding: 10px 20px;
  display: flex;
  align-items: center;
}

.topbar-separator {
  flex-grow: 1;
}

.topbar select {
  margin: 0;
  color: white;
  border: 1px solid white;
  padding: 5px 10px;
  border-radius: 5px;
  margin-right: 10px;
  background-color: black;
  transition: background-color 0.2s ease-in-out;
}

#gameTitle {
  color: white;
  font-weight: bold;
}

.topbar button {
  margin: 0;
  color: white;
  border: 1px solid white;
  padding: 5px 10px;
  border-radius: 5px;
  margin-right: 10px;
  background-color: black;
  transition: background-color 0.2s ease-in-out;
}

.topbar button:disabled {
  opacity: 0.5;
}

.topbar button:disabled:hover {
  cursor: not-allowed;
}

.topbar button:hover:not(:disabled) {
  cursor: pointer;
  background-color: gray;
}

input {
  margin: 0;
  border: 1px solid gray;
  padding: 5px 10px;
  border-radius: 5px;
  margin-right: 10px;
  color: black;
  width: 80%;
}

.editor {
  display: flex;
  flex-direction: row;
  width: 100%;
  flex-grow: 1;
}

.column {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.row {
  height: 50%;
}

#renderer {
  background-color: black;
}

.buttonContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 10px;
  flex-wrap: wrap;
}

.buttonContainer button {
  margin-left: 10px;
  margin-right: 10px;
}

#infoContainer {
  margin-left: 20px;
  margin-right: 20px;
  border: 1px solid #eaeded;
  padding: 10px;
  border-radius: 5px;
  background-color: #f8f9f9;
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.1);
  max-height: 40vh;
  overflow-y: scroll;
}

.spriteItem:hover {
  cursor: pointer;
}

.spriteId {
  font-style: italic;
  color: gray;
}
