:root {
  --color-error: #e74c3c;
  --color-error-dark: #cb4335;
}

html {
  font-size: 62.5%;
}
body {
  font-size: 1.5em; /* currently ems cause chrome bug misinterpreting rems on body element */
  line-height: 1.6;
  font-weight: 400;
  font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  color: #222;
}

* {
  box-sizing: border-box;
}

.watchy {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  justify-content: start;
}

button {
  margin: 0;
  color: white;
  border: 1px solid white;
  padding: 5px 10px;
  border-radius: 5px;
  margin-right: 10px;
  background-color: #222;
  transition: background-color 0.2s ease-in-out;
}

button:disabled {
  opacity: 0.5;
}

button:disabled:hover {
  cursor: not-allowed;
}

button:hover:not(:disabled) {
  cursor: pointer;
  background-color: gray;
}

input {
  background-color: #222;
  color: white;
  margin-left: 5px;
  margin: 0;
  border: 1px solid gray;
  padding: 5px 10px;
  border-radius: 5px;
  margin-right: 10px;
  width: 80%;
}

select {
  background-color: #222;
  color: white;
  margin: 0;
  border: 1px solid gray;
  padding: 5px 10px;
  border-radius: 5px;
  margin-right: 5px;
}

.topbar {
  height: 45px;
  background-color: black;
  padding: 10px 20px;
  display: flex;
  align-items: center;
}

.topbar-separator {
  flex-grow: 1;
}

#gameTitle {
  color: white;
  font-weight: bold;
}

.topbar button {
  border: 1px solid white;
  background-color: black;
  transition: background-color 0.2s ease-in-out;
}

.editor {
  display: flex;
  flex-direction: row;
  width: 100%;
  flex-grow: 1;
  background-color: #222;
}

.column {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.row {
  height: 50%;
}

#tools {
  height: 40px;
  background-color: #222;
  display: flex;
  align-items: center;
  padding-left: 10px;
}

#tools button.active {
  border: 1px solid blue;
}

#renderer {
  background-color: black;
}

#infoContainer {
  padding: 10px 20px;
  max-height: 42vh;
  overflow-y: scroll;
  color: white;
}

#infoContainer button {
  margin-top: 10px;
}

.selectGroup {
  display: flex;
  align-items: center;
}

#infoContainer .selectGroup button {
  margin: 0;
}

.spriteItem:hover {
  cursor: pointer;
}

.spriteId {
  font-style: italic;
  color: gray;
}

.paletteDiv {
  display: flex;
}

.paletteDiv input {
  width: 30px;
  padding: 0;
}

.paletteDiv > button {
  margin: 0 !important;
}
