#consoleScreen {
  background-color: #edb4a1;
  width: 800px;
  height: 600px;
}

.zone {
  position: relative;
  fill: #a96868;
  resize: both;
  border: dotted 3px #764462;
}

.zone * {
  fill: #a96868 !important;
}