#consoleScreen {
  background-color: #edb4a1;
  width: 100%;
  aspect-ratio: 4/3;
}

.zone {
  position: relative;
  fill: #a96868;
  resize: both;
  border: dotted 3px #764462;
}

.zone * {
  fill: #a96868 !important;
}